<div class="continer">
  <div class="row">
     <div class="col-md-6 offset-md-3 ">
      <div class="card my-4 border-0 shadow-sm">
        <div class="card-body">
        <h1>Add todo</h1>
        <form action="">
<div class ="mt-4">
  <label for ="">Todo Title</label>
  <input id ="" type="text"
   class="form-control"
    placeholder="Enter here">
</div>
<div class = "mt-3">
  <label for="">Todo Description</label>
  <textarea id ="" rows="20" class="form-control"
   rows="3" placeholder="Enter here"></textarea>

</div>
<div class = "mt-3 text">
  <label for="">Due Date</label>
  <input id="" type="date" class="form-control">
</div>
<div class="form-check mt-2">
  <input  type="checkbox" class="form-check-input" id="status">
  <label class="form-check-label" for="exampleCheck1">Mark as Done!</label>
</div>
<div class="container text-center mt-3">
  <button class="btn btn-success btn-sm">Add</button>
  <button class="btn btn-warning ms-3 btn-sm">Add</button>
</div>
        </form>
      </div>
    </div>
     </div>
  </div>
</div>
